@model  Jako.Models.Nodo
@{
    ViewBag.Title = "NewQuestion";
}

<h2>NewQuestion</h2>

@using (Html.BeginForm("Finalizar", "Home", FormMethod.Post))
{
        <blockquote class="blockquote text-center align-items-center">
            <h1 class="display-4">¿Cual es la diferencia de lo que estabas pensando con: @Model.pregunta  @*@(Model.hizq > 0 ? Model.ObtenerP(Model.hizq.GetValueOrDefault()).pregunta : Model.ObtenerP(Model.hder.GetValueOrDefault()).pregunta)*@?</h1>
            <div class="form-group">
                <h3>Define un concepto de tal diferencia</h3>
                <div style="display:flex; justify-content:center; margin-left:auto; margin-right:auto; align-items:center; text-align:center;">
                    <input type="text" name="pregunta" />

                    @Html.HiddenFor(x => x.Id)
                    @Html.HiddenFor(x => x.padre)
                    <input type="hidden" name="hder" value="@(Model.LastId()-1)" />
                    <input type="hidden" name="hizq" value="@(Model.LastId())" />

                </div>
            </div>
            <div class="text-right">
                <button type="submit" class="btn-primary">Listo!</button>
            </div>
        </blockquote>
}
